<html>

<link rel="stylesheet" type="text/css" href="static/index.css">

<div class="homepage-container">
  <img src="http://ak9.picdn.net/shutterstock/videos/19564219/thumb/1.jpg" alt="" height="360" width="650">
  <div class="homepage-text">
    CU Travel
  </div>
  <form action="#" method="get">
  <button id="start" class="btn" value="Click" name="start">
    Start a trip
  </button>
  <button id="join" class="btn" value="Click" name="join">
    Join a trip
  </button>
  </form>
</div>

</html>
