<!DOCTYPE html>
<html lang="en">
<head>
  <title>CU Travel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/PlanSelection.css">
</head>


<body>
<table>
<tr>
<td width=450>
<div class="container">
<h2> Plan Selection </h2>
<form action="/PlanSelection" method="get">
<div class="div_container">
<table>
  {% for waystop in waystops %}
	    <tr>
       <% if waystop.selected %>
       <td> <input type="checkbox" name="checkbox{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" checked ></td>
       <% else %>
       <td> <input type="checkbox" name="checkbox{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" ></td>
       <% endif %>
       <td> {{ waystop.name }} </td>

    </tr>
{% endfor %}
</table>
</div>
<button type="submit" value="Submit">Generate Map</button>
</form>
  <form method = "post" >{% csrf_token %}
    <div class="selection">

    <button type="submit" class="btn btn-default" style="background-color:green; color:white;">View Itinerary</button>
  </form>
</div>
</td>
<td>
<iframe
  width="800"
  height="600"
  frameborder="0" style="border:0"
  {% if waystops_name %}
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyB2uz-9zoyW7GgkytCGnt636POGkTJyZuU&origin={{ source }}&destination={{ dest }}&waypoints={{ waystops_name }}&language=en" allowfullscreen
  {% else %}
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyB2uz-9zoyW7GgkytCGnt636POGkTJyZuU&origin={{ source }}&destination={{ dest }}&language=en" allowfullscreen>
  {% endif %}
</iframe>
</td>
</tr>
</table>
</body>
</html>
