<!DOCTYPE html>
<html lang="en">
<head>
  <title>CU Travel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container">
<h2> Plan Selection </h2>
<table>
  {% for waystop in waystops %}
	    <tr>
       <td> {{ waystop.name }} </td>

    </tr>
{% endfor %}
</table>
  <form method = "post" >{% csrf_token %}
    <div class="selection">
	
    <button type="submit" class="btn btn-default" style="background-color:green; color:white;">View Itinerary</button>
  </form>
</div>
</body>
</html>
