<!DOCTYPE html>
<html lang="en">
<head>
  <title>CU Travel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container">
<h2> Plan Your Trip </h2>
  <form action ="PlanSelection" method = "post" >{% csrf_token %}
    <div class="details">
	  <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
	  <br/>
      <label for="startpoint">Trip Start Point: </label>
      <input type="text" class="form-control" name="startpoint" placeholder="Enter Start Point">
	  <br/>
      <label for="endpoint">Trip End Point: </label>
      <input type="text" class="form-control" name="endpoint" placeholder="Enter End Point">
      <br/>
      <label for="startdate">Trip Start Date: </label>
      <input type="date" class="form-control" name="startdate" placeholder="Enter Start Date">
      <br/>
      <label for="numdays">Number of days: </label>
      <input type="text" class="form-control" name="numdays" placeholder="Enter number of trip days">
      <br/>
	  <br/>
	  <label class="radio-inline"><input type="radio" name="solo" value="solo">Solo</label>
      <label class="radio-inline"><input type="radio" name="group" value="group">Group</label>
	  <br/>
	  <br/>
	  <br/>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>
